body {
    background-color:rgb(128, 128, 128);
  }
  h1 {
    text-align: center;
    color:black;
    font-family: monospace;
    font-size: 40px;
    margin-top: 250px;
  }
  input {
    margin-top: 100px;
    margin: auto auto;
    width: 900px;
    height: 40px;
    display: block;
    font-size: 20px;
  }
  #btn {
    width: 400px;
    height: 60px;
    color: #fff;
    background-color:rgb(196, 149, 133);
    border-radius: 10px;
    margin-top: 30px;
    display: block;
    margin: auto auto;
  }
  #btn:hover {
    background-color: black;
    color:orangered;
  }
  
  #output {
    margin: auto auto;
  
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
  
